.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 350px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

body{
  background-color: #f7f7f7 !important;
}
